body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

.bg-blue {
    background: #00ccff;
}

.bg-dark-blue{
    background: #336699;
}
.bg-dark-green {
    background: #669999;
}

.color-white {
    color: #fff;
}

.fs-lg {
    font-size: 8em;
}

.fs-md {
    font-size: 4em;
}

.fs-sm {
    font-size: 2em;
}

.fw-bold {
    font-weight: 700;
}

.center-align {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .img {
    width: auto;
    max-width: 168px;
  }

